@tailwind base;
@tailwind components;
@tailwind utilities;

#__next {
  width: 100vw;
  height: 100vh;
}

.custom-marker-popup .mapboxgl-popup-content {
  background-color: rgb(220, 220, 220, 0.7);
  padding: 3px;
  pointer-events: none;
}

.custom-marker-popup .mapboxgl-popup-tip {
  border: 0px;
}

.ant-picker-input > input {
  font-family: "Montserrat", sans-serif !important;
  font-weight: 500 !important;
  font-size: 16px !important;
}

input[type="month"]::-webkit-calendar-picker-indicator {
  opacity: 0;
  cursor: pointer;
}
